.navigation {
	border-bottom: 1px solid gray;
	padding-top: 25px;
	position: fixed;
	background-color:white;
	margin-left: 350px;
	z-index: 1;

}
#navigation ul li{
	text-decoration: none;
	display: inline-block;
	padding: 0 10px;
	font-size: 1.6em;
}
#logo {
	font-family: Montcerat;
	font-size: 35px; 
}
#navigation ul li a{
	padding: 2px 5px;
	
}
#navigation ul li a:hover{
	text-decoration: none;
	color: black;
	border: 1px solid gray;
	border-radius: 4px;
}
header img {
	width: 100%;
}

header {
	padding-top: 100px;
}
#History img{

	width: 100%;
	height:300px;
}
#Best_Places img{

width:100%;
}

#Best_Places ul{
  list-style-type:none;
}

footer {

	background-color: #ff3333;
	height: 100px;
}
#copywright {
	margin-top: 45px;
	font-size:1.2em;
	color: white;
}

#reserved {

margin-top:45px;
font-size:1.2em;
	color: white;

}